.nav{
    width: 100%;
    text-align: center;
    padding: 2em;
}

.nav-item{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    opacity: 0.4;
    letter-spacing: 2px;
    padding: 1em 0;
    outline: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: .8em;
    color: black;
    text-decoration: none;
    transition: all .1s linear;
    &:hover{
        opacity: .7;
    }
    &:last-child:after{
        display: none;
    }
    &.nav-active{
        opacity: 1;
    }
}

.nav-separator{
    margin: 0 .5em;
    display: inline-block;
    vertical-align: middle;
    opacity: .5;
}