.img-nav{
    max-width: 300px;
    width: 100%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    &-btn{
        letter-spacing: 2px;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
    }
}